---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
import Footer from '../sections/Footer.astro'
---

<Layout title="Timeline">
    <Header/>
    <h1>Create an astro guide for a timeline</h1>
    <Footer/>
</Layout>