---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
import Footer from '../sections/Footer.astro'
import Card1 from '../components/Card1.astro'
import Card2 from '../components/Card2.astro'
---

<Layout title="JDC-IC">
    <Header/>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 m-8">
        <Card1
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card2
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card1
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card2
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card1
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card2
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
        <Card1
            href="/JM.webp"
            nombre="JUAN MANUEL OSPINA HINCAPIE"
            cargo="DIRECTOR CAPITULAR DE COMUNICACIONES"
            ig="https://www.instagram.com/hincapiejm/"  
        />
    </div>
    <Footer/>
</Layout>