<main>
    <h1 class="text-udea-dg text-6xl my-20 mx-40 text-center animate-zoom-in">
        <span class="font-light">¡SOMOS </span>
        <span class="font-bold italic">FAMILIA</span>
        <span>, </span>
        <span class="font-light">SOMOS </span>
        <span class="font-bold italic">UNIDAD!</span>
        <span class="font-light"> HAGAMOS HISTORIA CAPITULO UDEA 💚</span>
    </h1>
</main>