---
console.log('JS')
---

<header class="bg-udea-blue py-5 px-10 shadow-xl">
    <div class="flex">
    <nav class="flex flex-col w-full items-center md:flex-row">
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/">Inicio</a>
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/historia">Historia</a>
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/album">Album</a>
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/jdc">JDC-IC</a>
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/asambleas">Asambleas</a>
        <a class="text-udea-lg font-semibold hover:underline hover:rotate-2 hover:text-lg px-4" href="/contacto">Contacto</a>
    </nav>
    <img class="hidden md:block" src="\logo_udea.webp" alt="Logo_udea" width=80 height=70>
    </div>
</header>
